header {
  width: 960px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  /* box-sizing: border-box; */
  /* display: inline-block; */
}
#Logo {
  float: left;
  margin-top: 0;
  margin-right: 5px;

}

header h2 {
  /* display: inline; */
  width: 200px;
  font-weight: 900;
  font-size: 25px;
  font-family: 'Yellowtail', cursive;
  /* float: left; */
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 10px;
}

header h3 {
  /* display: inline-block; */
  width: 200;
  font-size: 10px;
  /* float: left; */
  margin-top: 0;
  margin-left: 10px;
}

header nav {
  /* display: inline-block; */
  float: right;
  margin-top: -25px;
  margin-bottom: 50px;
}

hr {
  width: 960px;
  height: 15px;
  border-style: solid;
  margin: auto;
}

label {
  }
  
  input[type=checkbox]:checked + label {
    color:black;
    text-decoration: line-through;
  } /*This is the MDN spec for doing this*/

  main {
      margin-top: 30px;
      width: 960px;
      margin-left: auto;
      margin-right: auto;
  }

  main h1{
    font-size: 40px;
    font-weight: 900;
  }

  main h6{
      color: gray;
  }

  .alignright{
      /* display: inline-block; */
      /* text-align: right; */
      float: right;
      margin-top: -20px;
      /* margin-right: 20px; */
  }

  #printer{
      margin-right: 50px;
  }

  #maincontent{
      margin-top: 30px;
  }
  #maincontent img{
      width: 960px;
      margin-bottom: 30px;
  }

  main p{
      text-indent: 40px;
      margin-bottom: 30px;
  }

  #list {
    background-image: url("img/list-bg.png");
    height: 200px;
    margin-top: 30px;
  }

  ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
 /* } https://stackoverflow.com/questions/6509106/is-there-a-way-to-break-a-list-into-columns */
  }
